@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");

@font-face {
    font-family: 'Gaegu';
    src: url("fonts/Gaegu-Regular.ttf") format('truetype');
}

/* Global Variables */
:root {
    --speed: 0.85;
    --primary: #fff;
    --size: 20;
    --ease: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Gaegu', sans-serif;
}

/* Menu Container */
.menu {
    position: fixed;
}

/* Hidden Toggle Checkbox */
.menu__toggle {
    opacity: 100%;
    position: absolute;
}

/* Toggle Active State */
.menu__toggle:checked~.menu__content .menu__item {
    --active-x: var(--x);
    --active-y: var(--y);
    --scale: 1;
}

.menu__toggle:checked~.menu__toggle-label:not(.menu__toggle-label--closer) {
    --clip: circle(1000% at 0% 0%);
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    z-index: 1;
}

/* Toggle Button Label */
.menu__toggle-label {
    cursor: pointer;
    height: calc(var(--size) * 0.5vmin);
    width: calc(var(--size) * 0.5vmin);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    clip-path: circle(100% at 0% 0%);
    transition: backdrop-filter calc(var(--speed) * 1s) var(--ease);
    z-index: 1000;
}

/* Icon inside toggle */
.menu__icon {
    opacity: 100%;
    height: calc(var(--size) * 0.25vmin);
    width: calc(var(--size) * 0.25vmin);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -70%) scale(var(--scale, 1));
    fill: var(--primary);
    transition: all calc(var(--speed) * 1s) var(--ease);
}

/* Menu Content */
.menu__content {
    background: linear-gradient(135deg, #0e3534 0%, #1679bf 50%, #28b4aa 100%);
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    filter: url("#goo");
}

/* Menu Items */
.menu__item {
    background: linear-gradient(135deg, #0e3534 0%, #1679bf 50%, #28b4aa 100%);
    opacity: 0.9;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: calc(var(--size) * 0.8vmin);
    width: calc(var(--size) * 0.8vmin);
    position: absolute;
    left: calc(var(--active-x, 0) * 1vw);
    top: calc(var(--active-y, 0) * 1vh);
    transform: translate(-50%, -50%) scale(1);
    transition: all calc(var(--speed) * 1s) calc(var(--delay, 0.5) * 1s) var(--ease);
}

.menu__item:hover {
    background: linear-gradient(135deg, rgba(14, 53, 52, 0.5), rgba(22, 121, 191, 0.5), rgba(40, 180, 170, 0.5));
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    animation: none;
    transition: all calc(var(--speed) * 1.5s) cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

/* Menu Links */
.menu__link {
    align-items: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: calc(1rem + 0.5vw);
}

/* Hover Animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 1px 3px rgba(152, 233, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 10px 10px rgba(194, 247, 34, 0.5);
    }

    100% {
        box-shadow: 0 0 15px 14px rgb(191, 22, 154);
    }
}

/* Menu Item Positions */
.menu__item:nth-of-type(1) {
    --delay: 0.1;
    --x: 35;
    --y: 35;
}

.menu__item:nth-of-type(2) {
    --delay: 0.2;
    --x: 65;
    --y: 35;
}

.menu__item:nth-of-type(3) {
    --delay: 0.3;
    --x: 35;
    --y: 65;
}

.menu__item:nth-of-type(4) {
    --delay: 0.4;
    --x: 65;
    --y: 65;
}

.menu__item:nth-of-type(5) {
    --delay: 0.5;
    --x: 50;
    --y: 20;
}

.menu__item:nth-of-type(6) {
    --delay: 0.6;
    --x: 80;
    --y: 50;
}

.menu__item:nth-of-type(7) {
    --delay: 0.7;
    --x: 20;
    --y: 50;
}

.menu__item:nth-of-type(8) {
    --delay: 0.8;
    --x: 50;
    --y: 80;
}